body{
    margin: 0;
    padding: 0;
    background: url(../img/madera.jpg) no-repeat center top;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.seleccion{
    width: 420px;
    height: 420px;
    background: rgb(94, 17, 110);
    color: rgb(168, 218, 52);
    top: 50%;
    left: 35%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.llamada{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    top: 90px;
    left: calc(50% - 20px);
}

.especial{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    top: 200px;
    left: calc(50% - 20px);
}

.perfil{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    top: 310px;
    left: calc(50% - 20px);
}

.revisa{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    top: 420px;
    left: calc(50% - 20px);
}

.seleccion h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.seleccion table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.seleccion table td{
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-of-type(1){
    background-color: #f2f2f2;
}

.seleccion input{
    width: 100%;
    margin-bottom: 20px;
}

.seleccion input[type="submit"]{
    border: none;
    background: rgb(83, 9, 19);
    outline: none;
    height: 30px;
    color: rgb(160, 185, 48);
    font-size: 18px;
    border-radius: 20px;
}

.seleccion input[type="submit"]:hover{
    color: rgb(131, 47, 209);
}

